body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}
:root{
    --branco: white;
    --cor-de-fundo: #8a61a5;
    --fundo-senha: #667688;
    --fundo-texto: #6c7f94;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}
.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }